@font-face {
  font-family: "iconfont"; /* Project id 3729218 */
  src: url('//at.alicdn.com/t/c/font_3729218_avskfqw1sa.woff2?t=1675913352871') format('woff2'),
  url('//at.alicdn.com/t/c/font_3729218_avskfqw1sa.woff?t=1675913352871') format('woff'),
  url('//at.alicdn.com/t/c/font_3729218_avskfqw1sa.ttf?t=1675913352871') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before {
  content: "\e63f";
}

.icon-dianpu:before {
  content: "\e640";
}

.icon-kefu:before {
  content: "\e641";
}

.icon-jurassic_user:before {
  content: "\e63c";
}

.icon-a-24gf-eye2:before {
  content: "\e63d";
}

.icon-shizhong:before {
  content: "\e63e";
}

.icon-a-xiangcezhaopian-m:before {
  content: "\e639";
}

.icon-shangjiantou:before {
  content: "\e63a";
}

.icon-wenjianjia:before {
  content: "\e63b";
}

.icon-tv-full:before {
  content: "\e635";
}

.icon-a-24gl-phoneLoudspeaker:before {
  content: "\e636";
}

.icon-gengduo:before {
  content: "\e637";
}

.icon-shexiangji:before {
  content: "\e638";
}

.icon-xinxikongxin:before {
  content: "\e632";
}

.icon-settings:before {
  content: "\e633";
}

.icon-jiahaodefuben:before {
  content: "\e634";
}

.icon-shoucangdefuben:before {
  content: "\e631";
}

.icon-iosfloweroutline:before {
  content: "\e630";
}

.icon-shu:before {
  content: "\e62b";
}

.icon-shuji:before {
  content: "\e62c";
}

.icon-guanzhuyonghuguanli:before {
  content: "\e62d";
}

.icon-biaoqing:before {
  content: "\e62e";
}

.icon-xialingyingicon-40:before {
  content: "\e62f";
}

.icon-xiugai:before {
  content: "\e62a";
}

.icon-icon-pencil:before {
  content: "\e620";
}

.icon-lianjie:before {
  content: "\e626";
}

.icon-rizhi:before {
  content: "\e627";
}

.icon-xiaoxi:before {
  content: "\e628";
}

.icon-TIFFANYSROOM_huaban:before {
  content: "\e629";
}

.icon-yinle:before {
  content: "\e61d";
}

.icon-github:before {
  content: "\e61e";
}

.icon-wenzhang:before {
  content: "\e61f";
}

.icon-jiage:before {
  content: "\e61c";
}

.icon-price:before {
  content: "\e61b";
}

.icon-shoucangxuanzhong:before {
  content: "\e623";
}

.icon-shoucang:before {
  content: "\e624";
}

.icon-jiahao:before {
  content: "\e625";
}

.icon-yanjing:before {
  content: "\e621";
}

.icon-yanjing-2:before {
  content: "\e622";
}

.icon-jijianfasong-xianxing:before {
  content: "\e619";
}

.icon-shezhi:before {
  content: "\e61a";
}

.icon-sousuo:before {
  content: "\e617";
}

.icon-guanyu:before {
  content: "\e60f";
}

.icon-w_fenlei:before {
  content: "\e610";
}

.icon-guidang:before {
  content: "\e611";
}

.icon-shouye-2:before {
  content: "\e612";
}

.icon-shouye:before {
  content: "\e613";
}

